:root {
  --background: #ffffff;
  --logo-text: #000000;
  --main-h2h3: #212121;
  --hero-background: #2f303a;
  --main-text: #757575;
  --footer: rgb(255, 255, 255, 0.6);
  --accent: #2196f3;
  --section4-bckgnd: #f5f4fa;
  --header-border: #ececec;
  --projects-border: #eeeeee;
  --icon-unactive: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
  --transformY: transform;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-h2h3);
  box-sizing: border-box;
}

/* -----------------------------------HEADER----------------------------------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  border-bottom: 1px solid var(--header-border);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  color: var(--accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 24px 0;
}

.navigation__name {
  color: var(--logo-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation-list__item {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50px;
}

.navigation-list__item:last-child {
  margin-right: 0px;
}

.navigation-list__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-h2h3);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color, background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  position: relative;
}

.navigation-list__link--current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent);
  text-decoration: none;
  transition: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.navigation-list__link--current:hover,
.navigation-list__link--current:focus,
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent);
}

.navigation-list__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 96%;
}

.contacts-list {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list__items {
  display: flex;
  align-content: center;
  margin-right: 50px;
}

.contacts-list__items:last-child {
  margin-right: 0;
}

.contacts-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text);
  padding: 32px 0;
  transition: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent);
}

.contacts-list__envelope {
  margin-right: 10px;
  fill: currentColor;
  align-self: center;
}

.contacts-list__smartphone {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

/* -----------------------------------BODY----------------------------------- */

/* ---------------------------------- SECTION 1 ------------------------------ */
.section--hero {
  display: flex;
  background-color: var(--hero-background);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container--hero {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.container__hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container__hero-button {
  font-family: Roboto;
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.container__hero-button:hover,
.container__hero-button:focus,
.container__hero-button:active {
  background-color: var(--accent);
  color: var(--background);
}

/* ---------------------------------- SECTION 2 ------------------------------ */
.container-feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.feature-list__item {
  margin-right: 30px;
}
.feature-list__item:last-child {
  margin-right: 0px;
}

.feature-list__container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--section4-bckgnd);
  margin-bottom: 30px;
  justify-content: center;
}

.feature-list__icon-place {
  align-self: center;
}

.feature-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text);
}

/* ---------------------------------- SECTION 3 ------------------------------ */
.section--nopadding {
  padding-top: 0;
}

.container--direction {
  flex-direction: column;
}

.container__business-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.container__business-list {
  display: flex;
  justify-content: center;
}

.container__business-item {
  position: relative;
  list-style: none;
  margin-right: 30px;
}
.container__business-item:last-child {
  margin-right: 0;
}

.container__business-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container__business-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

/* ------------------------------------ SECTION 4 ------------------------------ */
.section--bgcolor {
  background-color: var(--section4-bckgnd);
}

.container__team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container__team-list {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.container__team-item {
  list-style: none;
  margin-right: 30px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container__team-item:last-child {
  margin-right: 0;
}

.container__team-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container__team-text {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.container__team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container__list-text {
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  color: var(--main-text);
  margin-bottom: 16px;
}

.container__team-socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* -------------------------------------------------- */

.container__social-items {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.container__social-items:last-child {
  margin-right: 0;
}

.container__social-links {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-unactive);
  color: var(--background);
  border-radius: 50%;
  transition-property: background-color, fill, border-radius;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.container__team-icons {
  align-self: center;
}

.container__social-links:hover,
.container__social-links:focus {
  background-color: var(--accent);
  fill: currentColor;
}

/* --------------------------------------------------- */

/* ------------------------------------SECTION 5-------------------------------- */
.container--direction {
  flex-direction: column;
}

.container__clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.clients-list__items {
  display: flex;
  margin-right: 30px;
}
.clients-list__items:last-child {
  margin-right: 0;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  cursor: pointer;
  border: 1px solid var(--icon-unactive);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-unactive);
  transition-property: fill, border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

/* ------------------------------------ FOOTER --------------------------------- */
.foot {
  background-color: var(--hero-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.basement--direction {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.foot-container {
  display: flex;
  flex-direction: column;
  width: 231px;
}

.foot-container__logo {
  margin-bottom: 20px;
  justify-content: baseline;
  color: var(--accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 24px 0;
}

.foot-container__logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background);
}

.foot-container__address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--background);
}

.foot-container__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.foot-container__item {
  margin-bottom: 9px;
}

.foot-container__item:last-child {
  margin-bottom: 0;
}

.foot-container__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--background);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.foot-container__link:hover,
.foot-container__link:focus,
.foot-container__link:active {
  color: var(--accent);
}

.foot-container__contacts-link {
  text-decoration: none;
  color: var(--footer);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.foot-container__contacts-link:hover,
.foot-container__contacts-link:focus,
.foot-container__contacts-link:active {
  color: var(--accent);
}

.social-invite {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.social-invite__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--background);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  justify-content: baseline;
}

.social-invite__list {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
}

.social-invite__item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
}

.social-invite__itemr:last-child {
  margin-right: 0;
}

.social-invite__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: var(--background);
  color: var(--background);
  border-radius: 50%;
  transition-property: background-color, fill, border-radius;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.social-invite__link:hover,
.social-invite__link:focus {
  background-color: var(--accent);
  fill: var(--background);
}

.social-invite__icon {
  align-self: center;
}

/* ----------------------------- FOOTER SIGNUP FORM ------------------*/
.footer-signup {
  margin-left: 93px;
}

.footer-signup__title {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14em;
  font-weight: 700;
  color: var(--background);
  margin-bottom: 20px;
}

.footer-signup__form {
  display: flex;
}

.footer-signup__email {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--hero-background);
  color: var(--background);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
}

.footer-signup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  color: var(--background);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-signup__button-text {
  margin-right: 10px;
}

.footer-signup__icon {
  fill: var(--background);
}

/* --------------------------------------PORTFOLIO---------------------------------*/
.container__portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------------------------------------- FILTERS ----------------------------------*/

.filters-list {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  list-style: none;
}

.filters-list__items {
  margin-right: 8px;
}

.filters-list__items:last-child {
  margin-right: 0;
}

.filters-list__button {
  font-family: Roboto;
  background-color: var(--section4-bckgnd);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.filters-list__button--active {
  color: var(--background);
  background-color: var(--accent);
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.filters-list__button:hover,
.filters-list__button:focus,
.filters-list__button--active {
  color: var(--background);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------------------- PROJECTS -------------------------------------*/

.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.projects-list__item {
  display: block;
  border-bottom: 1px solid var(--projects-border);
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-list__item:nth-child(3n) {
  margin-right: 0px;
}

.projects-list__link {
  display: block;
  text-decoration: none;
  color: var(--main-h2h3);
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.projects-list__link:focus .overlay,
.projects-list__link:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects-list__link:focus,
.projects-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.projects-list__img {
  max-width: 100%;
  display: block;
  height: auto;
}

.projects-list__overlay {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--background);
  opacity: 0;
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transition-property: transform, opacity;
  transform: translateY(100%);
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.projects-list__meta {
  width: 100%;
  padding: 20px 24px;
  overflow: hidden;
  border-bottom: 1px solid var(--header-border);
  border-left: 1px solid var(--header-border);
  border-right: 1px solid var(--header-border);
}

.projects-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text);
}

/*--------------------------------- MODAL -------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms, visibility 350ms;
  pointer-events: visible;
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.01) translate(100%, 20%);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 350ms;
  transform: scale(1) translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill, border;
  transition-duration: 350ms;
  transition-timing-function: var(--cubic);
}
.modal__close-button:hover,
.modal__close-button:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-button:hover .modal__icon-close,
.modal__close-button:focus .modal__icon-close {
  fill: var(--accent);
}

.modal__icon-close {
  display: block;
  fill: var(--main-h2h3);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
/*-------------------------------- MODAL FORM ------------------------*/
.modal__form {
  display: block;
}

.modal__tittle {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15em;
  margin-bottom: 12px;
  color: var(--main-h2h3);
  pointer-events: none;
  user-select: none;
}

.modal__labels {
  position: relative;
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--main-text);
  margin-bottom: 10px;
  user-select: none;
}

.modal__label-name {
  display: block;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--main-text);
  margin-bottom: 4px;
}

.modal__inputs {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition-property: fill, border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.modal__user-icon,
.modal__phone-icon,
.modal__mail-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(12px) translateY(31px);
  fill: var(--main-h2h3);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.modal__user-icon:hover,
.modal__phone-icon:hover,
.modal__mail-icon:hover {
  cursor: pointer;
  fill: var(--accent);
}

.modal__inputs:focus,
.modal__inputs:hover {
  border-color: var(--accent);
  outline: 0;
}
.modal__inputs:focus + .modal__user-icon,
.modal__inputs:hover + .modal__user-icon {
  fill: var(--accent);
}
.modal__inputs:focus + .modal__phone-icon,
.modal__inputs:hover + .modal__phone-icon {
  fill: var(--accent);
}
.modal__inputs:focus + .modal__mail-icon,
.modal__inputs:hover + .modal__mail-icon {
  fill: var(--accent);
}

.modal__comment-label {
  display: block;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--main-text);
  margin-bottom: 20px;
  user-select: none;
}

.modal__text-field {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.modal__text-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text-field:hover,
.modal__text-field:focus {
  outline: 0;
  border-color: var(--accent);
}

.modal__checkbox {
  position: relative;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  user-select: none;
}

.checkbox-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--accent);
  padding-left: 5px;
  text-decoration-skip-ink: none;
}

.modal__chekbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--main-text);
  padding-left: 5px;
}

.modal__input-checkbox {
  appearance: none;
  -webkit-appearance: none;
}

.modal__icon-square {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  transform: translateX(5px) translateY(4px);
}

.modal__icon-check {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(6px) translateY(4px);
  fill: var(--background);
  cursor: pointer;
}

.modal__input-checkbox:checked + .modal__icon-square {
  background-color: var(--accent);
  border-radius: 2px;
  fill: var(--accent);
}

.modal__input-checkbox:checked + .modal__icon-square + .modal__icon-check {
  fill: var(--background);
}

.modal__input-checkbox:focus + .modal__icon-square {
  fill: var(--accent);
}
.modal__input-checkbox:hover + .modal__icon-square {
  fill: var(--accent);
}

.modal__send-button {
  display: block;
  width: 200px;
  background: var(--accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-boxshadow: 0 0 0px 1000px var(--background) inset;
}
